name: Tests

on:
  push:
  pull_request:
    branches: [ main ]

jobs:
  run_unit_tests:
    runs-on: ubuntu-latest
    defaults:
        run:
          shell: bash -el {0}
    steps:
      - uses: actions/checkout@v2
      - uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: environment.yml
          environment-name: swe4s
      - run: |
          cd test/unit_test
          python -m unittest test_utils    
      
  run_func_tests:
    runs-on: ubuntu-latest
    defaults:
        run:
          shell: bash -el {0}  
    steps:
      - uses: actions/checkout@v2
      - uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: environment.yml
          environment-name: swe4s
      - run: |
          cd test/func
          bash test_print_fires.sh
  
  run_pycodestyle:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@v2
      - uses: mamba-org/setup-micromamba@v1
        with:
            environment-file: environment.yml
            environment-name: swe4s
      - run: |
          cd test/unit_test
          pycodestyle test_utils.py
          cd ../../src
          pycodestyle my_utils.py
          pycodestyle print_fires.py
  
  run_all_tests:
    runs-on: ubuntu-latests
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@v2
      - uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: environment.yml
          environment-name: swe4s
      - run: |
          cd test/unit_test
          python -m unittest test_utils
          pycodestyle test_utils.py
          cd ../func
          bash test_print_fires.sh
          cd ../../src
          pycodestyle my_utils.py
          pycodestyle print_fires.py